<%- include('../partials/header') %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <h1>Order Form</h1>
    <div class="container">
        <div class="column">
            <div id="map"></div>
            <br>
            <h2>User Data</h2>
            <form id="userForm">
                <small id="error-message" class="error-message"></small>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required pattern="^[A-Za-z\s\-']+$" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required pattern="^[A-Za-z\s]+,\sst\.\s[A-Za-z\s]+\s\d+[a-zA-Z]?(\/\d+)?$" placeholder="City, st. StreetName 11/22">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                    placeholder="email@email.com">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" required pattern="^\+\d{1,3}\s\d+$" placeholder="+1 23456789">
                </div>
            </form>
        </div>
        <div class="column">
            <h2>Ordered Items</h2>
            <ul id="cart-list" class="scroll">
            </ul>
            <br>
            <h3 id="total-price"></h3>
            <h3 id="delivery-time"></h3>
            <div class="g-recaptcha" id="recaptcha-widget" data-sitekey="6LcMiUYmAAAAANdNKuWr6Fju3UEqRYV1Z8b1qFfW"></div>
            <button type="submit" id="sub-btn">Submit order</button>
        </div>
    </div>


<script src="js/order-form.js"></script>
<script src="js/maps.js"></script>
<script defer async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1YwbZUCH1p5YO6gwFZXQAmk0bzEAJyV4&callback=initMap&libraries=places&v=weekly"
></script>

<%- include('../partials/footer') %>