<%- include('../partials/header') %>

<div class="history-container">
    <div class="search-form">
        <small id="error-message" class="error-message"></small>
        <input type="text" id="email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
        placeholder="email@email.com">
        <input type="text" id="phone" required pattern="^\+\d{1,3}\s\d+$" placeholder="+1 23456789">
        <button id="history-btn">Search</button>
    </div>
    <div class="order-history">
        <div class="scrollable">
            <div id="order-cards"></div>
        </div>
    </div>
</div>

<script src="js/history.js"></script>

<%- include('../partials/footer') %>