<%- include('../partials/header') %>

<div id="content">

    <div id="shop-column">
        <h2>Shops:</h2>
        <ul class="shop-list scroll" id="shop-list">
            <% shops.forEach((shop) => { %>
                <li class="shop-list-item" data-shop-id="<%= shop.id %>"><%= shop.name %></li>
            <% }); %>
        </ul>
    </div>
    <div id="item-column" class="item-container scroll"></div>

</div>

<script src="js/script.js"></script>
<%- include('../partials/footer') %>