body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

#content {
    flex: 1;
    display: flex;
}

/* NAVIGATION */
nav {
    background-color: #f2f2f2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #ddd;
}

/* SHOP PAGE */
#shop-column {
    width: 25%;
    padding: 20px;
}

#item-column {
    width: 75%;
    padding: 20px;
}

.shop-list {
    list-style-type: none;
    padding: 0;
}

.shop-list-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#cart-list {
    height: 35%;
}

.shop-list-item:hover {
    background-color: #e0e0e0;
}

.active {
    background-color: #d4d4d4;
}

/* SHOP ITEM */
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: calc(40% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;
}

.item-image {
    width: 90%;
    height: 70%;
    margin-right: 10px;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    text-align: center;
}

.item-name {
    font-weight: bold;
}

.item-price {
    display: block;
    margin-top: 5px;
}

.add-to-cart-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}

/* CART */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item img {
    max-width: 100px;
    margin-right: 10px;
}

.cart-item .item-details {
    flex: 1;
}

.cart-item .item-details .item-name {
    font-weight: bold;
}

.cart-item .item-details .item-price {
    color: #888;
}

.cart-item .item-details .item-actions {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cart-item .item-details .item-actions .counter {
    display: flex;
    align-items: center;
}

.cart-item .item-details .item-actions .counter input {
    width: 30px;
    text-align: center;
}

.cart-item .item-details .item-actions .counter button {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #eee;
    border: none;
    border-radius: 50%;
}

.cart-item .item-details .item-actions .remove-button {
    margin-left: auto;
    color: red;
    cursor: pointer;
}

/* CART PAGE */
.container {
    display: flex;
    justify-content: space-between;
}
.column {
    width: 45%;
    padding: 20px;
}

h1 {
    margin: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

#shop-list {
    height: 70%;
}

#item-column {
    height: 70%;
}

.scroll {
    overflow: auto;
}

input:invalid {
    background-color: lightpink;
}

.error-message {
    color: red;
    display: none;
}

/* HISTORY */
.history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-form {
    margin-bottom: 20px;
}

.order-history {
    height: 300px;
    overflow-y: auto;
}

.scrollable {
    overflow-x: auto;
}

#order-cards {
    display: flex;
    flex-wrap: wrap;
}

.order-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
}

.order-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.order-card .item-details {
    flex-grow: 1;
}

.order-card .item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.order-card .item-price {
    font-size: 14px;
    color: #888;
}

.order-card .total-price {
    text-align: right;
    margin-top: 10px;
}

/* MAPS */
#map {
    height: 400px;
    width: 100%;
}