<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My delivery app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/styles.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/shops">Shop</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
                <li><a href="/history">History</a></li>
            </ul>
        </nav>